<div class="row shadow p-3 mb-4 text-center white-alpha-05 border-30-30-10-10">
    <div class="col">
        <a routerLink="/">
            <img src="../../../../assets/icon/home-fill.svg" width="32" height="32">
            <p class="text-blue">Início</p>
        </a>
    </div>
    <div class="col">
        <img src="../../../../assets/icon/envelope-fill.svg" width="32" height="32">
        <p class="text-blue">email@gmail.com</p>
    </div>
    <div class="col">
        <img src="../../../../assets/icon/telephone-fill.svg" width="32" height="32">
        <p class="text-blue">(61)9999-99999</p>
    </div>
    <div class="col">
        <img src="../../../../assets/icon/twitter.svg" width="32" height="32">
        <p class="text-blue">tweeter@tweeter</p>
    </div>
    <div class="col">
        <img src="../../../../assets/icon/facebook.svg" width="32" height="32">
        <p class="text-blue">facebook</p>
    </div>
</div>
