<app-header></app-header>
<div class="container ">
    <div class="row white-alpha-05 border-10-30">
        <p>
            A <span>Humanoterapia</span> é uma metodologia de tratamento
            <span>energético e espiritual</span> com técnicas que permitem
            investigação, diagnóstico, limpeza interna e externa, regressão,
            desbloqueio e reprogramação celular para
            <span>tratar processos e distúrbios</span>
            energéticos e espirituais. A metodologia consiste na aplicação de
            <span>6 técnicas</span> para tratar processos
            <span>energéticos e espirituais</span>
            distintos, de acordo com sua origem.
        </p>
        <h4>
            1º Passo: Consulta no Psicogerador Quantiônico
        </h4>
        <div class="container">
            <div class="row justify-content-center">
                <figure class="figure">
                    <img src="../../../../assets/img/tabuleiro.png" class="figure-img img-fluid rounded" alt="Mesa Radiônica">
                    <figcaption class="figure-caption">Mesa Radiônica.</figcaption>
                </figure>
            </div>
        </div>
        <p>
            Por meio da <span>Radiestesia</span> aplicada ao <span>Psicogerador Quantiônico</span>,
            é identificado qual tratamento o assistido precisará passar seguindo a
            <span>metodologia Humanoterapeuta</span>, que é:
        </p>
        <ul>
            <li>
                Humanometria (3 sessões)
            </li>
            <li>
                Taquions-Tock
            </li>
            <li>
                TDR
            </li>
            <li>
                Regressão com Reprogramação
            </li>
            <li>
                Baralho Terapêutico
            </li>
        </ul>
        <div class="w-100"></div>
        <h4>
            2º Passo: Humanometria
        </h4>
        <p>
            É iniciado o tratamento pelo <span>campo espiritual com a Humanometria</span>,
            para tratar auto-obsessão e obsessão de encarnado ou desencarnado e demais
            processos espirituais iniciadas <span>nesta ou em outras vidas</span>. Este
            tratamento é um desdobramento da <span>apometria convencional</span>.
        </p>
        <h4>
            3º Passo: Taquions-Tock
        </h4>
        <p>
            A <span>Taquions-Tock</span> é uma frequência de <span>quinta dimensão</span>,
            onde vibra o metal superior, onde está a essência. Aplicando essa técnica,
            é realizado uma <span>limpeza</span> na informação que está causando a dor e
            também acessamos a <span>matriz viva</span>, conectando o assistido com sua
            essência, reprogramando a função da célula com a informação original que ele
            recebeu quando foi criada e assim <span>desconstruindo e liberando</span> o
            processo da dor
        </p>
        <h4>
            4º Passo: TDR (Terapia de Desbloqueio emocional e Reprogramação Energética)
        </h4>
        <p>
            A TDR é utilizada para tratar as <span>subpersonalidades</span> - registros
            de memória que atuam no corpo emocional sendo elas memórias reais ou não. A
            técnica permite o <span>desbloqueio e reprogramação</span> dos registros de
            memória emocional de dor, que por sua vez criam <span>bloqueios energéticos</span>
            impedindo o fluxo natual de energia. <span>Trata traumas</span> dessa vida,
            emoções de medo, angústia, pânico, tristeza, etc.
        </p>
        <h4>
            5º Passo: Regressão com Reprogramação
        </h4>
        <div class="container">
            <div class="row justify-content-center">
                <figure class="figure">
                    <img src="../../../../assets/img/massagem.jpg" class="figure-img img-fluid rounded" alt="Massagem">
                    <figcaption class="figure-caption">Regressão com Reprogramação.</figcaption>
                </figure>
            </div>
        </div>
        <p>
            Essa técnica consiste em rastrear os registros de <span>memórias que ficam no inconsciente</span>
            (corpos mental e emocional), de um fato que ocorreu na vida do assistido e
            <span>está gerando dor</span>, bloqueios e impedimentos, sendo ele gerado nesta
            vida ou de outra vida. Na regressão é ralizado um processo de
            <span>esgotamento da energia que está causando a dor</span>, através de leves
            batidas em pontos específicos de acupuntura, os meridianos, repetindo o caminho
            atá que <span>todo o bloqueio seja liberado</span>. Após esta limpeza é reprogramado
            o DNA das células com uma energia de filicidade, alívio e paz. Com a renovação e
            reprogramação celular, a reprodução das células será saudável e prerfeita resultando
            na cura.
        </p>
        <h4>
            6º Passo: Baralho Terapêutico
        </h4>
        <div class="container">
            <div class="row justify-content-center">
                <figure class="figure">
                    <img src="../../../../assets/img/baralho.jpg" class="figure-img img-fluid rounded" alt="baralho terapêutico">
                    <figcaption class="figure-caption">Baralho terapêutico.</figcaption>
                </figure>
            </div>
        </div>
        <p>
            Após todo tratamento em todos os campos, através do baralho terapêutico é possível
            <span>orientar</span>, dar um direcionamento para seguir de acordo com a sua
            <span>busca de alma</span>, ou seja alinhado com o propósito de vida e mental superior.
            A leitura do baralho não é adivinhatória e sim <span>terapêutica</span>.
        </p>
        <div class="container">
            <div class="row justify-content-center">
                <figure class="figure">
                    <img src="../../../../assets/img/mulher.jpg" class="figure-img img-fluid rounded" alt="mulher exposta ao sol">
                    <figcaption class="figure-caption">Bem-estar.</figcaption>
                </figure>
            </div>
        </div>
    </div>
</div>
