<div class="row shadow p-3 mb-4 text-center white-alpha-05 border-30-30-10-10">
    <div class="col-lg-3">
        <img src="../../../../assets/icon/envelope-fill.svg" width="32" height="32" title="Contato">
    </div>
    <div class="col-lg-3">
        <img src="../../../../assets/icon/telephone-fill.svg" width="32" height="32">
    </div>
    <div class="col-lg-3">
        <img src="../../../../assets/icon/twitter.svg" width="32" height="32">
    </div>
    <div class="col-lg-3">
        <img src="../../../../assets/icon/facebook.svg" width="32" height="32">
    </div>
</div>
