<div class="clearfix">
    <div class="col-lg-6 shadow p-3 mb-4 text-center float-lg-right">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                        <p class="card-text"><small class="text-muted">Atualizado há 3 dias</small></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="../../../../assets/img/girl-447701_640.jpg" class="card-img" alt="Imagem por PixaBay">
                </div>
            </div>
        </div>
    </div>
</div>
